doctype html
html(lang="en")
head
	meta(charset="utf-8")
	title Mexico City
	link(href="../css/bootstrap.min.css" type="text/css" rel="stylesheet")
	link(href="../css/blog.css" type="text/css" rel="stylesheet")
body
	h1 Day 14
	h2 Oaxaca -- Hierve el Agua
	h3 1/20/2015
	p.
		Things've slowed down, which I don't mind so much. Our first week in Mexico was defs the most frenetic. Since then it's been more hanging-out-around-town sort of stuff.
	p.
		We're in Oaxaca now, which is beautiful. It's in a valley and the air's not too bad and the houses are colorful.
	p.
		Visited Heirve el Agua today, which felt again like the grandiosity of our first week. It's a natural spring full of calcium that's built up this huge calcium shelf over thousands of years which has formed into a natural pair of swimming pools at the edge of an epic cliff. It's the natural version of one of those gaudy, viewy swimming pools overlooking x, except x is like this desert valley full of cactuses and nobody is around besides the other tourists, which didn't amount to much when we were there.
	p.
		Getting up there you ride in a truck. We were in the cabin in that instance. Comming down you also ride in a truck, in which case for us we were in the back of it with these two very pretty Austrian girls with hairy legs. Luke fawned over that.
	p.
		Oh yeah, we went to a big market yesterday and there was this little girl sleeping in a fruit container. It was so cute. There were also a lot of chickens and turkeys just kind of hanging out.

	h1 Day 7
	h2 La Malinche
	p.
		So today we woke up early and took a taxi to the bus station and then a type of van with a title like &quotcommune&quot which I can't remember (actually Luke just told me it's "collectivo") to this mountain La Malinche which is 14.6 thousand feet high. It was a pretty hike but I couldn't make it to the top. I started getting dizzy and visual snow and some very weird feelings. Luke tanked it all the way up though, which is pretty sweet.
	p.
		In all it was a very long day. We were both pretty exhausted by the end of it.
	p.
		On the bus ride part of the return trip I was thinking about how disgusting the air was on the high way and then Luke pointed out the window and I saw by far the most gorgeous sunset. It was blood colored and vast and high and imposed over it were the outlines of two gargantuan volcanoes, one of which erupted in 2012 and is like a perfect cone it is so new.
	p.
		After we got back we went to this really excellent taco place that we'd been to the day before, but my stomach wasn't wanting a meal, so I got what I thought were some beans but which turned out to be this real spicy bean soup. I ate about half of it and felt awful all night. Shoudn't have done that.
	p.
		Yeah and on the walk to the resturaunt there were three women one after another sitting and begging on the side of the street, each holding a tiny sleeping kid. I wanted to give all of them all of my money.

	h1 Day 6
	h2 Puebla
	h3 1/12/2015
	p.
		Traveled to Puebla today. Took a bus. Then a taxi to the hostel. The driver was insane. He was blasting Beach Boys era music and singing along with it and swearving a whole bunch. It was very surreal.
	p.
		After settling in a little, we visited a nearby cathedral, which is right next to Puebla's own Zocalo. The architecture was beautiful, but we only spent five or ten minutes there because I don't think either of us can get into a very transcendental state w/r/t Catholic imagery. Here at least it's mostly a bunch of crucifixes and images of Jesus being tortured.
	p.
		On the bus ride over we watched Inherent Vice. What a strange film. Too many plot tangles for me to really follow it, though it had some brilliant moments. But yeah. It's based off of a Pynchon novel and you could tell. And honestly I have come to hate postmodern language. The dialogue sounds nothing like human speech. It's so overwraught. But I loved Josh Brolin yelling "Moto penekeiku! Moto penekeiku! Hay? Hay? Hay?"

	h1 Day 5
	h2 Los Mariposas
	p.
		Today was awful in many ways. We woke up at 4:40, and our taxi driver took us to the bus station on the <i>opposite</i> side of the city from the one we needed to be at, and after dropping a wad to get back across the city via a very quick taxi we arrived just in time to be misdirected between gates for ten minutes, running, me spilling coffee all over and Luke sweating profusely under a 30-pound backpack. We caught the bus <i>as it was pulling out</i>, whereupon we were informed that our spots, tickets for which we had purchased online <i>several days prior</i>, had been given away.
	p.
		So we talked to this jefe in his office. He was real nice and got us tickets for a bus two hours later. And you know what? It worked out better because of that because we went to the &quotcity of the butterflies&quot and caught them as they were coming off the trees in waves as the light hit and then rehid behind the clouds. It was so beautiful. They don't fly until it's warm and earlier it had been cool.
	p.
		The valley we traveled through and up the side of to get there was vast and many-tiered and lovely. The hike to the top was steep and at a very high altitude and it was hard to keep your breath.
	p.
		There is no way to convey that place in words or images. You could hear their wings flapping as they flew there were so many of them and they blanketed the branches like leaves and hid the bark on the trunks. I looked at some video I took and it's just some fluttering.
	p.
		Afterwards we were picnicing on the steps of this church down in the town and realized there was a public meeting/rally-ish event sort of thing going on where there was a lot of ambivalent language coming from the mic about tourists. It was uncomfortable. They were pretty pissed that the government wouldn't let them reboot the town's logging/mining infrastructure, saying that the gov was putting butterflies before people. They didn't like that the town's only income was from tourists during four months of the year. They had a point. I feel compelled to side with the butterflies but it hurts because I know that if I lived in the town I would know I was being repressed. I don't know what that means.


	h1 Day 4
	h2 Los Murales	
	p.
		Today was slower. We went to the Museo de Artes Fines and a historical museum. Artes Fines was a bit lame because 3/4 of it was closed so we only got to see a few murals. That being said, a few of them were really good. And by a few of them, I mean this one by Jorge Camarena that was just spectacular. As soon as I get some decent internet I'm gonna look up his stuff asap. He's like an anatomist political cubist cartoonist muralist. I've never seen a style like his and his is literally everything I like about visual art.
	p.
		The historical museum was also very cool. It's at the top of a lone hill in the center of Mexico City and the panorama is excellent. It's this cool old stone mansion with a beautiful garden. Inside was very lame until we stumbled upon some good stuff: two(!!) more murals by Camarena that were both mad decent, and this huge intricate mural by Ciquires which was probably fifty meters long and wrapped around a couple intruding walls in a way that actually enhanced it a great deal, believe it or not, making it its own awesome panoramic experience. Luke had studied this exact mural before and had really liked it and seemed pretty moved that we ran into it. I thought it was pretty sweet also. It was mostly political and had some delicious abstract integration.
	p.
		The downside to los museos is that it took us a while to find it and by the time we walked back both of us were extremely sore and tired from walking around so much. My legs felt like loose tender meat slabs oozing with pooled blood.
	p.
		Maybe that's a bit dramatic.

	h1 Day 3
	h2 Anthropology and Playboy Bunny
	p.
		We visited El Museo National Anthropopogico (name?), which featured a pretty dope progression of artifacts from the Teotuican to Aztec to Mayan peoples. We saw the Stone of the Sun which is that big rock that everyone thinks is the Aztec calendar but isn't, it's actally way cooler. They'd have sacrifice by combat on it, meaning two people would duke it out while standing on the stone in the name of appeasing the gods and subjugating the colonies and whatnot.
	p.
		The Teotuican, which were mostly doing their thing around the year 0 give or take a few hundred years, seemed to have a relatively simple system of dieties. Like there was sun and moon and a few others. Their human imagery is also pretty basic. Then the Aztecs came along a good while later and whoa, yeah they complicated and expanded a lot. Like they have a lot of gods and their imagery is very intense, full of tons of geometric shapes.
	p. 
		But perhaps part of why the Aztec Stuff seems more ornate is because its just not as old so we get to see more of it.
	p.
		The Mayan stuff was some of my favorite, though. It's more refined and systematic and expressive, imo. Their depictions of humans strike a balance between evocative symbolism and accurate portrayal. Imo.
	p.
		But yeah after that we went back to the pulqueria because there was a DJ. It was loads of fun, a very good vibe and we met this very friendly 28-y.o. dancer named Cynthia who spoke good English and made us feel welcome.
	p.
		There is this huge painting in that pulqueria that I just loved and I stared at it a lot. I had noticed that in all the advertisements around here the models look <i>nothing</i> like actual Mexican people. They're all fucking white skinny Eurpoeans, which is like 6 or 7 evil in my opinion. Anyway the painting is probably five meters square and is of this ring of maybe ten naked Mexican women all lying on the ground on their backs like they're dead or in comas or something, and they're painted green and magenta. Their feet are all pointed inwards towards the center of the circle where there's a boy stirring a cauldron with one hand and sticking his other hand down into the water (no quite sure what that's about, maybe liquor influence? That would make sense given that the pulqueria works against that with their traditional, throwback native-type drink). The most powerful part is the platform in the very middle of the cirlce, between all the incapacitated women's feet where there's another very plain-looking, shorter thicker Mexican woman, only she's painted white, and she's wearing playboy bunny ears and makes a standing crucifix.
	p.
		That is seriously the best "fuck you" to the racist media. Fuck you, racist media.


	h1 Day 2
	h2 Teotuican and Pulque
	p.
		Another long and memorable day. My brain's a bit fried but I'll try and get a bit down because my brain camera has a shitty lens.
	p.
		We woke early today and took a bus to Teotihuican. After wading through peddlars we got a horrifically symmetrical view of the Street of the Dead or some such name. It was built two thousand years ago and is incredibly beautiful and symmetrical and a weird take on manmade recreation of, like, geometrical mountains.
	p.
		Looking at pictures of it you'll get some sense of the idea, but being there in the middle of the square and climbing up the pyramides and being present to a history of work and pain and slow progress built stone-by-stone and all is just.
	p.
		Chetzocoatyl (sp?) seems like a pretty rad god, and I like the deificiation of the sun and the moon.
	p.
		Mind is slowing down, now. More should come tomorrow. However, we ended the night drinking this drink called pulque in a section of the city called Roma. Polque is kind of mucousy and semen-like except when you get it with flavor. We got it in mango and in hazelnut and the hazelnut in particular is muy delicioso. The states should really get on that.
	p.
		Did I mention that El Templo Del Sol is a million cubic yards of stone? And took over a hundred years to build? I mean imagine being a slave devoting your entire existence to the construction of that thing and after thirty years of intense labor you still have to watch man sacrifices at some other minor temple because you've only finished one out of the four tiers of Del Sol and your children's children won't even have finished it. You're caught in a time bubble that's so much longer than you. You are nothing.
	p.
		Which reminds me that while we were walking around the Avenue of the Dead (name?) no fewer than eight Mexican schoolgirls asked Luke and me if they could have their pictures taken with us. Talk about some delicious ego strokeage.
	p.
		And as if that wasn't enough. At the end of the day we got back to El Zocalo and there was ice skating going on in the middle. Keep in mind it's in the 60's here. Unfortunately it had just closed and they weren't letting anyone else on, but instead we got to toboggan, meaning we took stairs up to the top of this huge ice-covered ramp and got spinnily pushed down on inner tubes. It filled me with a child-like glee.


	h1 Days 0-1
	h2 Mexicans Generally Do Not Speak English Any Better Than I Speak Spanish
	h3 1/6/2015
	p.
		It's probably better to start with the now and then go backwards because I've been hit with so much imagery that it'll be a challenge to unravel it. It's dark outside right now but when it's lighter the whole city is hues of earthy colors, mostly because everything is sort of worn down in some way. For instance, the enormous beautiful cathedral in the Zocalo is horribly dirty and walking you hit pockets of air that smell just awful. But it's made of stone and lives in a smoggy valley with tons of people, so what can you do.
	p.
		But right now the darkness has pushed everyone off the street very quickly because fear. I think the cops may have gone home for the night. Luke and I played a couple games of chess on a board I found in the hostel's lobby on a bookshelf of hostelgoers old books. The place doesn't seem to be very full. I keep running into the same people on the stairs even though I've been here less than a day and have been mostly outside. Tomorrow we're waking up early and bussing to the ruins at Teotihuacan, which are some Aztec ruins, but maybe after that we'll make friends with a few of them. Seems like a lot of them speak English.
	p.
		Luke just came back into the room all winded from walking up four flights of stairs which prompted me to look up the city's elevation. It's 7,382 feet above sea level. What the hell. I said to him that that's why we both got so winded from walking around the city for just a few hours.
	p.
		As we were walking I never saw anyone taller than I. At first I felt proud but then I thought maybe I look like a freak and then I thought that I was thinking about it too much. Around the Zocalo itself there are a bunch of cripples lying on the sidewalk looking pitiful and people trying to get you to come into your resturaunt on the second floor. Neither Luke nor I are much inclined to go into a place that has to pay someone to shove a menu or an ad in your face.
	p.
		Besides that, I generally have no idea what they're saying. But at least their incomprehensible speech is incomprehensible in a way that sounds familiar.
	p.
		When you get out of the main touristy area all the spots are so tiny and cloistered. I saw some women frying and selling some sort of product out of a stairwell. It looked pretty hot in there.
	p.
		You can buy avacados for like a few cents each. It's ridiculous. I want to switch my diet to only avacados.
	p.
		On the plane ride over here I was kind of tired and bored/stressed and was spending a lot of time thinking of things I could say to people I don't appreciate to make them feel bad. But then this sleeping baby on the lap of the friendly guy next to me stretched out and rested his feet on my leg and I cut it out and started to feel pretty okay about things.
	p.
		So yeah. I made it to Mexico City without being killed or abducted or anything like that, which I suppose is a success, although now that I'm here I feel a bit silly for my anxiety over the whole deal. All in all I have no complaints. It's been going well.
	br
